@charset "UTF-8";

/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/


/* Imports 
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);*/

$color: black;
$color_selec: #FAEC33;
$color_light: #443ED4;
$color_strong: #AA9EF5;
$color_grey: #adadad;
$color_back: #FFDBFF;
$color_obs: #006951;
/*$pad: 0.5rem;
$font_s: 0.8rem;*/

/*@font-face { 
    font-family: "Bryant";
    src: url('bryant-regularalt.ttf');
}*/

/***** Global *****/
/* Body */
/*body {
  	background-image:url('../img/ASSET2.png'), url('../img/gradient.png'), url('../img/groovepaper.png');
  	background-repeat: no-repeat, repeat-x, repeat;
    background-attachment:fixed, fixed, scroll;
    background-position: center top, left top, left top;
    background-color: #0069D9;
    font-family:  'Bryant', sans-serif;
    font-size: 15px ;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Body without groove line*/
body {
  	background-image:url('../img/ASSET2.png');
  	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center top;
    background-color: #FFFFFF;
   /* font-family:  'Bryant', sans-serif;*/
    font-size: 15px ;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}*/

/* Headings */
h1 {font-size: 4em; 
/*font-family: 'Permanent Marker';*/ }
h2 {font-size: 3em;/*font-family: 'Permanent Marker';*/}	/* 22px */
h4 {font-size: 1.429em}	/* 20px */
h5 {font-size: 2em; margin-left: 10%;}	/* 18px */
h6 {font-size: 3em; color: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 100%);}	/* 18px */
h3 {font-size: 2em}		/* 14px */

h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
	margin-top: .8em; 
	/*font-family: 'Permanent Marker', cursive;*/
	
}

	
hr { 
	border:none;
	border-bottom: 1px solid #DDD; 
}

#low-tech-site a{
	color: black;
	background-color: #FAEC33;
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
}

/*IMG*/


/* Anchors */
a {outline: 0;}

a:link, a:visited {
	color: #443ED4;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	color: #AA9EF5;
	text-decoration: none;
	/* text-shadow: 1px 1px 2px #618697,0px 0px 6px #618697;*/
}


h1 a:hover {
	/* text-shadow: .05em .05em .2em #999;*/
    background-color: inherit;
}
	
/* Paragraphs */
p {
	margin-bottom: 1.143em;
	font-size: 1.3em;
	padding: 0;
	text-align: none;
	margin-left: 10%;
	margin-right: 10%;
}
p img[src*="#right"]  {
	width:60%;
	margin: auto;
	float: right;
	margin-left : 1em;

}
p img[src*="#left"]  {
	width:30%;
	margin: auto;
	margin-right : 1em;
	float: left;
}
p img[src*="#center"]  {
	width:100%;
	margin: 1em;
vertical-align: -moz-middle-with-baseline;
}


p img[src*="#acc"]  {
	height:500px;
	margin: auto;
	margin-left : 1em;
	float: right;
}



strong, b {font-weight: bold;}
em, i {font-style: italic;}


/* Lists */
ul {
	list-style: outside disc;
	padding: 1em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

.featured-img{
	background-color: #FDFDFD;
	width: 90%;
	}
.featured-img a:hover{
	background-color: #FDFDFD;
	width: 90%;
	opacity : 0.5;
	}
.cat, li.cat {
	/*.featured-img, p.img {
		background-color: #FDFDFD;
		width: 40%;
	}*/
	.category {
		color: #FDFDFD
	}
	.category-cat{
		display: block;
	}
}


#featured .post-info, article:not(.hentry) .entry-content .post-info {
    margin:5px;
    padding:9px;
}

#featured .post-info *, article:not(.hentry) .entry-content .post-info * {
	display: inline;
}
#featured .post-info .taglist:before, article:not(.hentry) .entry-content .post-info .taglist:before {
    content: '— ';
}

.post-info p{
    margin-bottom: 1px;
    text-align: left; 
    padding: 0;
}


.readmore { float: right }

.comments { margin-top:2em; }

.page-size{
    color: black;
background-color: #FAEC33;
    position: fixed;
    bottom: 5px;
    font-size: 1.5rem;
}

#sharing-tools 
{
	text-align: center;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color: #000; padding: 10px; color: #fff; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

article > p {
}

/***** Layout *****/
.body {
	clear: both; 
	margin: 0 auto;
	/*width: 890px;*/
}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}
img.acc,figure.acc {float: right;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 0 0 0 0;
	background: linear-gradient(180deg, rgb(255, 219, 255) 0%, rgb(255, 219, 255) 25%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 100%);
	padding-bottom: 1.7rem;
    border-bottom: 2px solid black;
}

	/* Banner */
	#banner h1 {font-size: 6em; line-height: 0; margin-bottom: 0.5em;/*font-family: 'Permanent Marker';*/}
	#banner h1 a:link, #banner h1 a:visited {
		color: #443ED4;
		display: block;
		font-weight: bold;
		margin: 0;
		text-decoration: none;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #AA9EF5;
		/*text-shadow:0px 0px .1em #FFFFFF, 0px 0px .5em #74aac2;*/
		
	}




	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		background: #FFFFFF;
		font-size: 2.2em;
		height: 67px;
		line-height: 67px;
		/*margin: 0 auto 0em auto;*/
		padding: 0;
		text-align: left;
		width: 100%;
		border: transparent;
		opacity: 1;
		
		
	}
	
	/*#banner nav ul {list-style: none; width: 900px;  margin :0; padding: 0;}
	#banner nav li {float: left; display: block; margin:0px;}*/

	#banner nav ul {list-style: none; width: 100%;display: flex;flex-wrap: wrap; align-content: left;  margin :0; padding: 0;}
	#banner nav li {display:block; margin:0px;max-width: 25%;}

	
	#banner nav a:link {
	
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		text-decoration: none;
		color: #443ED4;
		display: inline-block;
		height: 60px;
		padding: 0px 0.63em;
		border-top: solid 4px #443ED4;
		border-bottom: solid 4px #443ED4;
		border-left: solid 4px #443ED4;
	}
	#banner nav a:visited{
	
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		text-decoration: overline underline solid 3px #443ED4;
		color: #443ED4;
		display: inline-block;
		height: 60px;
		padding: 0px 0.63em;
		border-top: solid 4px #443ED4;
		border-bottom: solid 4px #443ED4;
		border-left: solid 4px #443ED4;


	}
	#banner nav a:hover {
		background: #FAFA00;
		color: #AA9EF5;           
		text-shadow: none;
		
		/*box-shadow: inset 0px 0px .8em #D8E2F3;*/
	}
	
	#banner nav .active a:link, #banner nav .active a:visited , #banner nav a:active{
		
		background: #AA9EF5;
		color: #443ED4;
		border-top: solid 4px #443ED4;
		border-bottom: solid 4px #443ED4;
		border-left: solid 4px #443ED4;
		text-decoration: underline overline solid 4px #443ED4;
		box-shadow: inset 0px 0px .5em #000;
	}
	
	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;

		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

		#banner nav li:last-child a {
		border-right : solid 4px #443ED4;
		border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		
		border-bottom-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}

.subtitle {
    font-size: 1.2em;
	}

/*
	GALLERIE
*****************/
.description {
	display: block;
	font-size: 2em;
	font-weight: bold;
}
.cols {
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	/*li:nth-child(4n) {
		padding-right: 0;
	}
	time {
		margin-top: 0.5*$pad;

	}*/
}
	.cols	li {
		max-width: 25%;
		padding-bottom: 2em;
	}
time{font-size: 1.5em;color: #ADADAD;}

/*
	Featured
*****************/
#featured {
	
	background: url("../img/toptop.png") no-repeat, url('../img/downdown.png') no-repeat;
	background-position: top,bottom,top;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 560px;
	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	
	background-color:rgba(209,229,242,0.4);
	border-top: solid -5px transparent;
	border-left: solid 1px rgba(255,255,255,.4);
	border-right: solid 1px rgba(255,255,255,.4);
	}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #253c47; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	/*background: url("../img/toptop.png") repeat-x, url('../img/downdown.png') repeat-x;*/
	/*background-position: top,bottom,top;*/
	margin-bottom: 2em;
	margin-top: 2em;
	overflow: hidden;
	padding: 0em 2em;
	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: rgb(68,62,212,0.02);
	/*background: linear-gradient(180deg, rgb(255,255,255,1) 0%, rgb(68,62,212,1) 100%);*/
	border-left: solid 1px rgba(255,255,255,.4);
	border-right: solid 1px rgba(255,255,255,.4);
}

 #page-size{
    color: black;
    background-color: #FAEC33;
    position: fixed;
    bottom: 5px;
    font-size: 1.5rem;
}
/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #000000;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #f5e4e4;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 70%;
	}
	
	#extras  li {float: left; margin: 0 20px 0 0; width: 190px;}
	
	/* Social */
	#extras .social {
		float: right;
		width: 30%;
	}
	
	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		

		.social a[href*='facebook.com'] {background-image: url('../img/icons/facebook.png');
		background-size: 16px 16px; }
		.social a[href*='twitter.com'] {background-image: url('../img/icons/twitter.png');
		background-size: 16px 16px;  }
		.social a[href*='github.com'] {background-image: url('../img/icons/github.png');
		background-size: 16px 16px; }
		.social a[href*='stackoverflow.com'] {background-image: url('../img/icons/stackoverflow.png');
		background-size: 16px 16px; }
		.social a[href*='flickr.com'] {background-image: url('../img/icons/flickr.png');
		background-size: 16px 16px; }


/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#contentinfo { text-align: left;}

footer li{

			width: 25%;
	
}
footer#content-info {
    border-top: 2px solid 
    black;
    padding: .5rem 0;
    overflow: auto;
}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 1px solid #DDD;
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {font-size: 3em; margin: auto;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}




	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	




/*
MEDIA QUERIES
*/
@media screen and (max-width: 1100px) {
	.cols li {
		max-width: 100%;
		margin:2em;
		&:nth-child(2n){
			padding-right: 0;
		}
	}
	.cover li:nth-child(2){
		flex: 1;
	}
	.cover li {
		max-width: 50%;
		.featured-img{
			height: 300px;
			background-size: auto 140%;
		}
	}
	.featured-img {
			background-size: 120%;
			width:800px;
			height:auto;
	}

	#banner h1 {
    font-size: 12em;
    line-height: 0;
    margin-bottom: 0.5em;
}
.entry-title {
    font-size: 6em;
    margin: auto;
}
.cols time {
    font-size: 3em;
    color: 
    #ADADAD;
}
p img{width:800px;
height:auto;
margin: -0.8em;}

p img[src*="#acc"]  {
	height:1000px;
	width: auto;
	margin: -0.5em;
	float: none;
}
p img[src*="#right"]  {
	width:100%;
	margin: auto;
	float: none;
	/*margin-left : 1em;*/

}
p img[src*="#left"]  {
	width:100%;
	margin: auto;
	/*margin-right : 1em;*/
	float: none;
}
 img[src*="#gallerie"]  {
	width:100%;
	margin: auto;
	/*margin-right : 1em;*/
	float: none;
}
	#banner nav {font-size: 4em;padding-bottom: 0.5em;}

	#banner nav ul {list-style: none; width: 100%;display: flex;flex-wrap: wrap; flex-direction: row;}
    #banner nav li { max-width: 100%;flex-basis: 50%;}
    #banner nav a:link {

		text-decoration: none;
		color: #443ED4;
		display: inline-block;
		padding: 0.3em;
		border-top: transparent;
		border-bottom: transparent;
		border-left: transparent;
		font-size: 1.1em;
	}

	    #banner nav a:active {

		background: #FAFA00;
		color: #AA9EF5;  
	}

#banner nav li:last-child a {border-right : transparent}

#banner {
	padding-bottom: 5rem;
    border-bottom: 0px solid black;
}

h1 {font-size: 6em; }
h2 {font-size: 8em;}	
h4 {font-size: 4em}	
h5 {font-size: 4em; margin-left: 10%;}	
h6 {font-size: 6em;}	
h3 {font-size: 4em}

p {font-size: 3.5em;}

	#low-tech-site a{
	color: black;
	background-color: #FAEC33;
    bottom: 5px;
    right: 5px;
    font-size: 1.5rem;
    position: relative;
    top : -5px;
    font-size: 3em;
}
.page-size{
    color: black;
background-color: #FAEC33;
    bottom: 5px;
    left: 5px;
    font-size: 3rem;
        position: relative;

}

#page-size{
    color: black;
background-color: #FAEC33;
    bottom: 5px;
    left: 5px;
    font-size: 3rem;
        position: relative;

}

	footer .cols li {
		width: 100%;

	}

	footer#content-info {border-top: 5px solid}


}

/*@media screen and (max-width: 1100px) {
	#menu-s {
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-top: .25rem;
		&:hover {
			cursor: pointer;
			color: $color_sub;
		}
	}

	#menu-list {
		height: 0;
		overflow: hidden;
		transition: height 300ms ease-in-out;
	}

	#menu-list.show {
		height: 240px;
	}

	#menu {
		ul {
			display: block;
		}
		li {
			display: block;
			margin: $pad 0;
		}
		li::after, li:last-child::after{
			content: "";
		}
		li.social {
			margin-left: -.25rem;
		}
	}
	footer .cols li {
		width: 50%;
	}
}*/
/*original sizes : 1100, 890, 666*/;

@media screen and (max-width: 666px) {
	h1 {
		font-size: 2rem;
	}
#low-tech-site a{
	color: black;
	background-color: #FAEC33;
    bottom: 5px;
    right: 5px;
    font-size: 1.5rem;
    position: relative;
    top : -5px;
}
.page-size{
    color: black;
background-color: #FAEC33;
    bottom: 5px;
    left: 5px;
    font-size: 1.5rem;
        position: relative;

}

#page-size{
    color: black;
background-color: #FAEC33;
    bottom: 5px;
    left: 5px;
    font-size: 1.5rem;
        position: relative;

}

	.cols.cover {
		flex-direction: column-reverse;
	}

	.cover li, .cover li:nth-child(2) {
		width: 100%;
		padding: 0;
	}

	.cols li {
		max-width: 100%;
		padding-right: 0;
	}

	footer .cols li {
		width: 100%;
	}

	.button {
		width: 100%;
	}

	/*.entry-content {
		h2 {
			font-size: 1.5rem;
			margin-left: 0;
		},
		h3 {
			margin-left: 0;
		},
		p, ul, ol, h5 {
			width: 100%;
		}
	}*/

	.footnote {
		width: 100%;
	}

	/*#archive {
	
		.dl, .dl-label {
			display: none;
		}
		#date, #title, #cat {
			width: 33%;
		}
		.category, .entry-title, time {
			float: none;
			width: 100%;
			padding-right: 0;
			margin: 5px 0;
		}
		time, .category {
			font-size: 1em;
		}
	}*/
	dt, dd {
		padding: 0;
	}

	dt {
		border-bottom: 0;
		width: 100%;
		float: none;
	}
}



	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}